<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kristinah.burpeeapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHowto"
            android:label="@string/title_activity_activity_yellow_button" >
        </activity>
        <activity
            android:name=".ActivityHowto2"
            android:label="@string/title_activity_activity_yellow_button2"
            android:parentActivityName=".ActivityHowto" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityHowto" />
        </activity>
        <activity
            android:name=".ActivityHowto3"
            android:label="@string/title_activity_activity_yellow_button3"
            android:parentActivityName=".ActivityHowto2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityHowto2" />
        </activity>
        <activity
            android:name=".ActivityCounter"
            android:label="@string/title_activity_activity_green_button" >
        </activity>
        <activity
            android:name=".ActivityAboutus"
            android:label="@string/title_activity_activity_blue_button" >
        </activity>
        <activity
            android:name=".ActivityInfo"
            android:label="@string/title_activity_activity_lila_button" >
        </activity>
        <activity
            android:name=".ActivityCounter2"
            android:label="@string/title_activity_activity_green_button2" >
        </activity>
    </application>

</manifest>
